<div [ngSwitch]="dataCard.current" class="mt-4">

    <app-card *ngSwitchCase="'[step-1]'" [dataCard]="dataCard" (emitButton)="changeStateCard($event)">
        <app-view-box *ngFor="let data of user.debts; index as i" [id]="data.name">
            <app-checkbox (emitSelect)="msg($event)" [id]='i' box></app-checkbox>
            <ng-container titleButtonTogle>
                <div class="d-flex justify-content-between w-100">
                    <h5>{{data.name}}</h5>
                    <h5>{{data.amount | currency}}</h5>
                </div>
            </ng-container>
            <ng-container contentBody>
                <p class="text-sm">Reference number: {{data.description.referenceNumber}}</p>
                <p class="text-sm">Billing Month: {{data.description.billingMonth}}</p>
                <h6 class="text-sm">Mail: {{data.description.mail}}</h6>
            </ng-container>
        </app-view-box>
    </app-card>

    <app-card *ngSwitchCase="'[step-2]'" [dataCard]="dataCard" (emitButton)="changeStateCard($event)">
        <app-view-box *ngFor="let data of user.creditCards; index as i" [id]="data.name">
            <app-checkbox (emitSelect)="msg($event)" [id]='i' box></app-checkbox>
            <ng-container titleButtonTogle>
                <div class="d-flex justify-content-between w-100">
                    <h5>{{data.name}}</h5>
                </div>
            </ng-container>
            <ng-container contentBody>
                <div class="text-sm">
                    <div class="d-flex justify-content-between">
                        <div>
                            <small>Headline:</small>
                            <p>{{data.headline}}</p>
                        </div>
                        <div>
                            <small>Number:</small>
                            <p>{{data.number}}</p>
                        </div>
                        <div>
                            <small>Expiration:</small>
                            <p>{{data.expiration}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </app-view-box>
    </app-card>

    <app-card *ngSwitchCase="'[step-3]'" [dataCard]="dataCard" (emitButton)="changeStateCard($event)">
        <ng-container>

            <app-view-box [id]="user.debts[0].name">
                <ng-container titleButtonTogle>
                    <div class="d-flex justify-content-between w-100">
                        <h5>{{user.debts[0].name}}</h5>
                        <h5>{{user.debts[0].amount | currency}}</h5>
                    </div>
                </ng-container>
                <ng-container contentBody>
                    <p class="text-sm">Reference number: {{user.debts[0].description.referenceNumber}}</p>
                    <p class="text-sm">Billing Month: {{user.debts[0].description.billingMonth}}</p>
                    <h6 class="text-sm">Mail: {{user.debts[0].description.mail}}</h6>
                </ng-container>
            </app-view-box>
            <app-view-box [id]="user.debts[1].name">
                <ng-container titleButtonTogle>
                    <div class="d-flex justify-content-between w-100">
                        <h5>{{user.debts[1].name}}</h5>
                        <h5>{{user.debts[1].amount | currency}}</h5>
                    </div>
                </ng-container>
                <ng-container contentBody>
                    <p class="text-sm">Reference number: {{user.debts[1].description.referenceNumber}}</p>
                    <p class="text-sm">Billing Month: {{user.debts[1].description.billingMonth}}</p>
                    <h6 class="text-sm">Mail: {{user.debts[1].description.mail}}</h6>
                </ng-container>
            </app-view-box>

            <app-view-box [id]="user.creditCards[0].name">
                <ng-container titleButtonTogle>
                    <div class="d-flex justify-content-between w-100">
                        <h5>{{user.creditCards[0].name}}</h5>
                    </div>
                </ng-container>
                <ng-container contentBody>
                    <div class="text-sm">
                        <div class="d-flex justify-content-between">
                            <div>
                                <small>Headline:</small>
                                <p>{{user.creditCards[0].headline}}</p>
                            </div>
                            <div>
                                <small>Number:</small>
                                <p>{{user.creditCards[0].number}}</p>
                            </div>
                            <div>
                                <small>Expiration:</small>
                                <p>{{user.creditCards[0].expiration}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </app-view-box>
            <hr>
            <h5 class="mt-4 text-center">Total: {{user.debts[0].amount + user.debts[1].amount | currency}}</h5>
        </ng-container>
    </app-card>

</div>